In [47]:
import os
import pandas as pd

In [48]:
data_path = os.path.join('data','zippedData')
data_files = os.listdir(data_path)
data_files.pop(data_files.index('.ipynb_checkpoints'))
data_files.pop(data_files.index('Untitled.ipynb'))
data_files = [os.path.join(data_path,file) for file in data_files]
data_files

['data/zippedData/imdb.title.crew.csv.gz',
 'data/zippedData/tmdb.movies.csv.gz',
 'data/zippedData/imdb.title.akas.csv.gz',
 'data/zippedData/imdb.title.ratings.csv.gz',
 'data/zippedData/imdb.name.basics.csv.gz',
 'data/zippedData/rt.reviews.tsv.gz',
 'data/zippedData/imdb.title.basics.csv.gz',
 'data/zippedData/rt.movie_info.tsv.gz',
 'data/zippedData/tn.movie_budgets.csv.gz',
 'data/zippedData/bom.movie_gross.csv.gz',
 'data/zippedData/imdb.title.principals.csv.gz']

In [101]:
data = {}
name_dict={'imdb.title.crew.csv.gz':"crew",
           'tmdb.movies.csv.gz':"movies",
           'imdb.title.akas.csv.gz':"akas",
           'imdb.title.ratings.csv.gz':"ratings",
           'imdb.name.basics.csv.gz':"name_basics",
           'rt.reviews.tsv.gz':"reviews",
           'imdb.title.basics.csv.gz':"title_basics",
           'rt.movie_info.tsv.gz':"movie_info",
           'tn.movie_budgets.csv.gz':"movie_budgets",
           'bom.movie_gross.csv.gz':"movie_gross",
           'imdb.title.principals.csv.gz':"principals"
          }
for file in data_files:
    try:
        df = pd.read_csv(file)
    except:
        print(file)
        continue
    file_name = file.split('/')[-1]
    data[name_dict[file_name]] = df
    
data["movie_info"]=pd.read_csv('data/zippedData/rt.movie_info.tsv.gz', sep="\t")
data["reviews"]=pd.read_csv('data/zippedData/rt.reviews.tsv.gz', sep="\t", encoding="latin1")

data/zippedData/rt.reviews.tsv.gz
data/zippedData/rt.movie_info.tsv.gz

In [102]:
data.keys()

dict_keys(['crew', 'movies', 'akas', 'ratings', 'name_basics', 'title_basics', 'movie_budgets', 'movie_gross', 'principals', 'movie_info', 'reviews'])

In [162]:
data['name_basics'].head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [168]:
data_columns=list(map(lambda x: (x, list(data[x].columns), list(data[x][data[x].columns].count())), data.keys()))
data_columns

[('crew', ['tconst', 'directors', 'writers'], [146144, 140417, 110261]),
 ('movies',
  ['Unnamed: 0',
   'genre_ids',
   'id',
   'original_language',
   'original_title',
   'popularity',
   'release_date',
   'title',
   'vote_average',
   'vote_count'],
  [26517, 26517, 26517, 26517, 26517, 26517, 26517, 26517, 26517, 26517]),
 ('akas',
  ['title_id',
   'ordering',
   'title',
   'region',
   'language',
   'types',
   'attributes',
   'is_original_title'],
  [331703, 331703, 331703, 278410, 41715, 168447, 14925, 331678]),
 ('ratings', ['tconst', 'averagerating', 'numvotes'], [73856, 73856, 73856]),
 ('name_basics',
  ['nconst',
   'primary_name',
   'birth_year',
   'death_year',
   'primary_profession',
   'known_for_titles'],
  [606648, 606648, 82736, 6783, 555308, 576444]),
 ('title_basics',
  ['tconst',
   'primary_title',
   'original_title',
   'start_year',
   'runtime_minutes',
   'genres'],
  [146144, 146144, 146123, 146144, 114405, 140736]),
 ('movie_budgets',
  ['id',
   'release_date',
   'movie',
   'production_budget',
   'domestic_gross',
   'worldwide_gross'],
  [5782, 5782, 5782, 5782, 5782, 5782]),
 ('movie_gross',
  ['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'],
  [3387, 3382, 3359, 2037, 3387]),
 ('principals',
  ['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'],
  [1028186, 1028186, 1028186, 1028186, 177684, 393360]),
 ('movie_info',
  ['id',
   'synopsis',
   'rating',
   'genre',
   'director',
   'writer',
   'theater_date',
   'dvd_date',
   'currency',
   'box_office',
   'runtime',
   'studio'],
  [1560, 1498, 1557, 1552, 1361, 1111, 1201, 1201, 340, 340, 1530, 494]),
 ('reviews',
  ['id',
   'review',
   'rating',
   'fresh',
   'critic',
   'top_critic',
   'publisher',
   'date'],
  [54432, 48869, 40915, 54432, 51710, 54432, 54123, 54432])]