In [1]:
import os
import pandas as pd

In [2]:
data_path = os.path.join('data','zippedData')
data_files = os.listdir(data_path)
data_files.pop(data_files.index('.ipynb_checkpoints'))
data_files.pop(data_files.index('Untitled.ipynb'))
data_files = [os.path.join(data_path,file) for file in data_files]
data_files

['data/zippedData/imdb.title.crew.csv.gz',
 'data/zippedData/tmdb.movies.csv.gz',
 'data/zippedData/imdb.title.akas.csv.gz',
 'data/zippedData/imdb.title.ratings.csv.gz',
 'data/zippedData/imdb.name.basics.csv.gz',
 'data/zippedData/rt.reviews.tsv.gz',
 'data/zippedData/imdb.title.basics.csv.gz',
 'data/zippedData/rt.movie_info.tsv.gz',
 'data/zippedData/tn.movie_budgets.csv.gz',
 'data/zippedData/bom.movie_gross.csv.gz',
 'data/zippedData/imdb.title.principals.csv.gz']

In [3]:
data = {}
name_dict={'imdb.title.crew.csv.gz':"crew",
           'tmdb.movies.csv.gz':"movies",
           'imdb.title.akas.csv.gz':"akas",
           'imdb.title.ratings.csv.gz':"ratings",
           'imdb.name.basics.csv.gz':"name_basics",
           'rt.reviews.tsv.gz':"reviews",
           'imdb.title.basics.csv.gz':"title_basics",
           'rt.movie_info.tsv.gz':"movie_info",
           'tn.movie_budgets.csv.gz':"movie_budgets",
           'bom.movie_gross.csv.gz':"movie_gross",
           'imdb.title.principals.csv.gz':"principals"
          }
for file in data_files:
    try:
        df = pd.read_csv(file)
    except:
        print(file)
        continue
    file_name = file.split('/')[-1]
    data[name_dict[file_name]] = df
    
data["movie_info"]=pd.read_csv('data/zippedData/rt.movie_info.tsv.gz', sep="\t")
data["reviews"]=pd.read_csv('data/zippedData/rt.reviews.tsv.gz', sep="\t", encoding="latin1")

data/zippedData/rt.reviews.tsv.gz
data/zippedData/rt.movie_info.tsv.gz

In [4]:
data.keys()

dict_keys(['crew', 'movies', 'akas', 'ratings', 'name_basics', 'title_basics', 'movie_budgets', 'movie_gross', 'principals', 'movie_info', 'reviews'])

<h1>Renaming Columns to Match 'title' Column</h1>

In [5]:
data['title_basics'] = data['title_basics'].rename(columns={'primary_title':'title'})
data['movie_budgets'] = data['movie_budgets'].rename(columns={'movie':'title'})

<h1>Getting Rid of Dollar Signs and Commas Movie_Budgets</h1>

In [6]:
data['movie_budgets']['worldwide_gross'] = data['movie_budgets']['worldwide_gross'].str.replace(',', '')
data['movie_budgets']['worldwide_gross'] = data['movie_budgets']['worldwide_gross'].str.replace('$', '')
data['movie_budgets']['worldwide_gross'] = data['movie_budgets']['worldwide_gross'].astype(int)

data['movie_budgets']['production_budget'] = data['movie_budgets']['production_budget'].str.replace(',', '')
data['movie_budgets']['production_budget'] = data['movie_budgets']['production_budget'].str.replace('$', '')
data['movie_budgets']['production_budget'] = data['movie_budgets']['production_budget'].astype(int)

data['movie_budgets']['domestic_gross'] = data['movie_budgets']['domestic_gross'].str.replace(',', '')
data['movie_budgets']['domestic_gross'] = data['movie_budgets']['domestic_gross'].str.replace('$', '')
data['movie_budgets']['domestic_gross'] = data['movie_budgets']['domestic_gross'].astype(int)

In [7]:
data['movie_budgets'].head()

,id,release_date,title,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [8]:
data['movie_budgets'] = data['movie_budgets'].drop(columns=['release_date','domestic_gross'])

In [9]:
data['movie_budgets'].head()

,id,title,production_budget,worldwide_gross
0,1,Avatar,425000000,2776345279
1,2,Pirates of the Caribbean: On Stranger Tides,410600000,1045663875
2,3,Dark Phoenix,350000000,149762350
3,4,Avengers: Age of Ultron,330600000,1403013963
4,5,Star Wars Ep. VIII: The Last Jedi,317000000,1316721747

In [10]:
data['ratings'] = data['ratings'][data['ratings'].numvotes >= 100]

In [11]:
data['ratings'].shape

(28753, 3)

In [12]:
data['ratings']['mean_diff'] = data['ratings'].averagerating - data['ratings'].averagerating.mean()

In [13]:
data['ratings'].head()

       tconst  averagerating  numvotes  mean_diff
1  tt10384606            8.9       559   2.992985
3   tt1043726            4.2     50352  -1.707015
5   tt1069246            6.2       326   0.292985
6   tt1094666            7.0      1613   1.092985
7   tt1130982            6.4       571   0.492985

In [14]:
data['akas'].rename(columns={'title_id': 'tconst'}, inplace = True)

In [15]:
tconst_to_title = pd.merge(data['akas'],data['ratings'],on='tconst')

In [16]:
tconst_to_title = tconst_to_title.drop(columns=['ordering','region','language','types','attributes','is_original_title'])

In [17]:
tconst_to_title.head()

,tconst,title,averagerating,numvotes,mean_diff
0,tt0369610,Джурасик свят,7.0,539338,1.092985
1,tt0369610,Jurashikku warudo,7.0,539338,1.092985
2,tt0369610,Jurassic World: O Mundo dos Dinossauros,7.0,539338,1.092985
3,tt0369610,O Mundo dos Dinossauros,7.0,539338,1.092985
4,tt0369610,Jurassic World,7.0,539338,1.092985

In [18]:
master_table = pd.merge(tconst_to_title,data['movie_budgets'],on='title')

In [19]:
master_table.head()

,tconst,title,averagerating,numvotes,mean_diff,id,production_budget,worldwide_gross
0,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864
1,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864
2,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864
3,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864
4,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864

In [20]:
master_table['success_score'] = master_table.mean_diff * (master_table.worldwide_gross / master_table.production_budget)

In [21]:
master_table

,tconst,title,averagerating,numvotes,mean_diff,id,production_budget,worldwide_gross,success_score
0,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
1,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
2,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
3,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
4,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
...,...,...,...,...,...,...,...,...,...
8904,tt5462602,The Big Sick,7.6,104008,1.692985,64,5000000,53972860,18.275049
8905,tt5649108,Thoroughbreds,6.7,25098,0.792985,47,5000000,3187302,0.505497
8906,tt5649108,Thoroughbreds,6.7,25098,0.792985,47,5000000,3187302,0.505497
8907,tt6164502,November,7.2,2455,1.292985,81,250000,191862,0.992299
8908,tt6198946,Impostor,5.7,5357,-0.207015,23,40000000,7974607,-0.041272

In [22]:
master_table[master_table.tconst == 'tt0369610']

,tconst,title,averagerating,numvotes,mean_diff,id,production_budget,worldwide_gross,success_score
0,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
1,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
2,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
3,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
4,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
5,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
6,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
7,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
8,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
9,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
10,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
11,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
12,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204
13,tt0369610,Jurassic World,7.0,539338,1.092985,34,215000000,1648854864,8.382204

In [26]:
master_table.drop_duplicates(subset = ['tconst'],inplace=True)

In [27]:
master_table.shape

(2521, 9)

In [32]:
master_table = pd.merge(data['title_basics'],master_table,on='tconst')

In [37]:
master_table.shape

(2521, 14)

In [43]:
list(master_table['genres'])

['Adventure,Animation,Comedy',
 'Action,Animation,Comedy',
 'Adventure,Drama,Romance',
 'Horror',
 'Adventure,Comedy,Drama',
 'Action,Crime,Drama',
 'Action,Adventure,Sci-Fi',
 'Comedy,Drama',
 'Comedy,Family',
 'Comedy,Drama,Romance',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Drama,History,War',
 'Action,Thriller',
 'Comedy',
 'Action,Adventure,Thriller',
 'Horror,Mystery,Thriller',
 'Action,Drama,Family',
 'Drama,Romance,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Biography,Drama,History',
 'Comedy,Drama,Romance',
 'Drama,Romance,War',
 'Action,Adventure,Comedy',
 'Action,Adventure,Animation',
 'Action,Adventure,Fantasy',
 'Biography,Drama,Sport',
 'Adventure,Drama,Fantasy',
 'Horror,Thriller',
 'Action,Crime,Thriller',
 'Action,Adventure,Sci-Fi',
 'Crime,Thriller',
 'Horror,Thriller',
 'Comedy,Horror',
 'Drama',
 'Drama,Mystery,Sci-Fi',
 'Action,Comedy,Crime',
 'Adventure,Animation,Comedy',
 'Action,Crime,Thriller',
 'Comedy,Drama,Music',
 'Action,Thriller',
 'Adventure,Drama,Mystery',
 'Drama,Fantasy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Crime',
 'Comedy,Romance',
 'Action,Adventure,Animation',
 'Comedy,Drama,Romance',
 'Action,Adventure,Drama',
 'Adventure,Drama,History',
 'Horror,Thriller',
 'Comedy,Drama,Romance',
 'Drama,History,Romance',
 'Comedy,Family',
 'Adventure,Comedy,Family',
 'Drama,Horror,Mystery',
 'Comedy,Drama,Romance',
 'Comedy,Drama',
 'Comedy,Romance',
 'Documentary,Music',
 'Action,Adventure,Sci-Fi',
 'Animation,Drama',
 'Crime,Drama',
 'Drama,Fantasy,Horror',
 'Adventure,Animation,Comedy',
 'Biography,Drama',
 'Adventure,Comedy,Fantasy',
 'Biography,Drama',
 'Action,Crime,Thriller',
 'Action,Adventure,Comedy',
 'Comedy',
 'Drama,Thriller',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Fantasy',
 'Biography,Comedy,Drama',
 'Action,Adventure,Fantasy',
 'Comedy,Drama,Romance',
 'Comedy,Drama',
 'Comedy,Family,Fantasy',
 'Comedy',
 'Comedy,Drama,Romance',
 'Adventure,Family,Fantasy',
 'Comedy,Romance',
 'Drama,War',
 'Action,Adventure,Fantasy',
 'Adventure,Drama,Sci-Fi',
 'Action,Adventure,Horror',
 'Comedy,Drama,Romance',
 'Comedy,Romance',
 'Action,Crime,Drama',
 'Action,Adventure,Fantasy',
 'Action,Drama,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Animation,Comedy,Family',
 'Horror,Mystery,Thriller',
 'Crime,Drama,Thriller',
 'Comedy,Drama,Romance',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Family',
 'Biography,Drama',
 'Action,Crime,Drama',
 'Adventure,Animation,Comedy',
 'Horror,Mystery,Thriller',
 'Action,Crime,Horror',
 'Comedy,Drama',
 'Drama,Romance',
 'Adventure,Drama,Thriller',
 'Action,Drama,Thriller',
 'Horror,Thriller',
 'Comedy',
 'Comedy,Drama,Romance',
 'Adventure,Comedy,Drama',
 'Action,Adventure,Animation',
 'Adventure,Animation,Comedy',
 'Adventure,Family,Fantasy',
 'Horror,Mystery,Sci-Fi',
 'Action,Adventure,Drama',
 'Action,Horror,Sci-Fi',
 'Drama',
 'Action,Adventure,Family',
 'Comedy,Crime,Thriller',
 'Horror',
 'Action,Mystery,Thriller',
 'Action,Drama,Sci-Fi',
 'Drama,Thriller',
 'Action,Drama,Thriller',
 'Action,Adventure,Sci-Fi',
 'Crime,Drama,Horror',
 'Action,Adventure,Drama',
 'Comedy,Crime,Drama',
 'Crime,Drama,Horror',
 'Action,Adventure,Family',
 'Biography,Drama,Sport',
 'Crime,Drama,History',
 'Adventure,Drama,Family',
 'Comedy,Romance',
 'Action,Adventure,Fantasy',
 'Biography,Drama,Thriller',
 'Action,Adventure,Fantasy',
 'Comedy',
 'Adventure,Family,Fantasy',
 'Action,Adventure,Animation',
 'Action,Crime,Thriller',
 'Drama,Romance,War',
 'Horror,Thriller',
 'Action,Comedy,Crime',
 'Action,Drama,Thriller',
 'Biography,Crime,Drama',
 'Action,Crime,Drama',
 'Action,Drama,Thriller',
 'Action,Animation,Comedy',
 'Drama,Fantasy',
 'Biography,Drama',
 'Action,Adventure,Comedy',
 'Action,Comedy,Crime',
 'Adventure,Family,Fantasy',
 'Crime,Drama,History',
 'Drama,Mystery,Thriller',
 'Biography,Drama,Music',
 'Biography,Drama,History',
 'Action,Adventure,Drama',
 'Biography,Drama,Thriller',
 'Drama',
 'Biography,Drama,Family',
 'Horror,Thriller',
 'Action,Fantasy,Western',
 'Comedy,Drama',
 'Action,Adventure,Drama',
 'Fantasy,Horror,Mystery',
 'Action,Adventure,Drama',
 'Action,Fantasy,Horror',
 'Action,Comedy,Romance',
 'Action,Family,Fantasy',
 'Action,Adventure,Fantasy',
 'Comedy,Drama,Romance',
 'Comedy,Family',
 'Adventure,Comedy,Family',
 'Action,Crime,Sci-Fi',
 'Comedy',
 'Comedy,Drama,Romance',
 'Drama',
 'Drama,Romance',
 'Adventure,Comedy,Family',
 'Comedy,Drama,Music',
 'Comedy',
 'Action,Fantasy,Thriller',
 'Biography,Drama,Fantasy',
 'Action,Adventure,Thriller',
 'Action,Drama,Fantasy',
 'Comedy,Fantasy,Horror',
 'Action,Horror,Thriller',
 'Horror,Thriller',
 'Biography,Comedy,Drama',
 'Action,Thriller',
 'Comedy,Romance',
 'Action,Biography,Drama',
 'Animation',
 'Adventure,Comedy,Sci-Fi',
 'Crime,Drama,Mystery',
 'Action,Adventure,Horror',
 'Biography,Drama,Sport',
 'Action,Comedy,Romance',
 'Action,Adventure,Fantasy',
 'Crime,Thriller',
 'Adventure,Comedy,Family',
 'Action,Comedy,Documentary',
 'Drama,Romance',
 'Action,Adventure,Fantasy',
 'Drama,Thriller',
 'Action,Biography,Drama',
 'Biography,Comedy,Drama',
 'Biography,Crime,Drama',
 'Drama,Music,Musical',
 'Comedy,Drama,Romance',
 'Horror,Thriller',
 'Mystery,Thriller',
 'Biography,Drama,Sport',
 'Action,Adventure,Sci-Fi',
 'Action,Crime,Thriller',
 'Action,Crime,Drama',
 'Comedy,Romance',
 'Action,Drama',
 'Drama,Mystery,Thriller',
 'Animation,Comedy,Family',
 'Drama,Mystery',
 'Drama,Fantasy,Romance',
 'Documentary',
 'Horror,Sci-Fi,Thriller',
 'Action,Drama,Family',
 'Drama,Horror,Mystery',
 'Drama,Romance',
 'Adventure,Fantasy',
 'Comedy',
 'Crime,Drama,Mystery',
 'Comedy,Drama',
 'Adventure,Biography,Comedy',
 'Crime,Drama,Horror',
 'Drama,Horror,Mystery',
 'Drama,Romance',
 'Comedy,Drama,Romance',
 'Drama',
 'Crime,Drama,Thriller',
 'Adventure,Animation,Comedy',
 'Drama,Music,Romance',
 'Action,Adventure,Thriller',
 'Biography,Comedy,Crime',
 'Comedy,Romance',
 'Comedy,Drama,Family',
 'Crime,Drama,Thriller',
 'Action,Drama,Romance',
 'Adventure,Comedy,Family',
 'Comedy,Drama',
 'Horror,Mystery,Thriller',
 'Action,Drama,Thriller',
 'Crime,Drama,Thriller',
 'Drama',
 'Biography,Drama,Sport',
 'Action,Adventure,Western',
 'Action,Adventure,Fantasy',
 'Drama',
 'Action,Crime,Mystery',
 'Animation',
 'Drama,Fantasy,Romance',
 'Adventure,Biography,Drama',
 'Comedy,Romance',
 'Crime,Drama',
 'Biography,Drama,History',
 'Action,Comedy,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Biography,Crime,Drama',
 'Comedy,Romance',
 'Drama,Romance,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Sci-Fi',
 'Mystery,Sci-Fi,Thriller',
 'Action,Adventure,Animation',
 'Action,Drama,Sci-Fi',
 'Action,Adventure,Horror',
 'Comedy,Family,Romance',
 'Adventure,Fantasy,Mystery',
 'Adventure,Comedy,Music',
 'Crime,Drama,Mystery',
 'Drama,Thriller',
 'Biography,Drama',
 'Documentary',
 'Action,Adventure,Sci-Fi',
 'Drama,Fantasy,Horror',
 'Comedy',
 'Biography,Drama',
 'Adventure,Animation,Family',
 'Adventure,Comedy',
 'Comedy,Sci-Fi',
 'Comedy',
 'Comedy',
 'Action,Comedy,Crime',
 'Crime,Drama,Thriller',
 'Action,Adventure,Drama',
 'Action,Sci-Fi,Thriller',
 'Action,Crime,Sci-Fi',
 'Drama,Fantasy,Romance',
 'Action,Comedy,Crime',
 'Crime,Drama,Thriller',
 'Action,Horror,Thriller',
 'Adventure,Comedy,Fantasy',
 'Thriller',
 'Horror,Thriller',
 'Drama,Mystery,Thriller',
 'Action,Adventure,Thriller',
 'Comedy,Drama,Romance',
 'Drama,Horror,Thriller',
 'Drama',
 'Biography,Crime,Drama',
 'Comedy,Fantasy',
 'Action,Comedy,Crime',
 'Comedy',
 'Action,Comedy',
 'Action,Comedy,Drama',
 'Action,Fantasy,War',
 'Action,Drama,Fantasy',
 'Crime,Horror,Thriller',
 'Adventure,Comedy,Crime',
 'Drama,Mystery,War',
 'Action',
 'Horror',
 'Action,Crime,Drama',
 'Action,Drama,Thriller',
 'Comedy,Drama,Romance',
 'Horror,Mystery',
 'Drama,Thriller',
 'Action,Adventure,Fantasy',
 'Adventure,Comedy',
 'Biography,Drama,Thriller',
 'Fantasy,Horror,Thriller',
 'Action,Sci-Fi,Thriller',
 'Action,Adventure,Sci-Fi',
 'Action,Drama,War',
 'Action,Comedy,Crime',
 'Comedy,Crime,Drama',
 'Crime,Mystery,Thriller',
 'Action,Comedy,Family',
 'Comedy,Drama,Fantasy',
 'Drama,Thriller',
 'Action,Crime,Drama',
 'Adventure,Animation,Comedy',
 'Comedy,Crime,Romance',
 'Drama,History,War',
 'Comedy,Drama,Romance',
 'Comedy,Romance',
 'Horror',
 'Biography,Drama',
 'Action,Comedy,Family',
 'Fantasy,Horror,Thriller',
 'Action,Comedy,Fantasy',
 'Crime,Drama,Thriller',
 'Action,Adventure,Comedy',
 'Drama,Sport',
 'Action,Adventure,Thriller',
 'Drama,Music,Romance',
 'Comedy',
 'Drama,Fantasy',
 'Action,Comedy,Horror',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Animation',
 'Adventure,Animation,Comedy',
 'Musical',
 'Comedy,Romance',
 'Adventure,Animation,Family',
 'Comedy,Drama,Romance',
 'Adventure,Comedy,Drama',
 'Action,Crime,Thriller',
 'Crime,Drama',
 'Drama',
 'Horror,Mystery,Thriller',
 'Biography,Drama,War',
 'Action,Drama,Sci-Fi',
 'Comedy,Drama,Fantasy',
 'Drama,Horror,Thriller',
 'Action,Adventure,Thriller',
 'Adventure,Comedy,Family',
 'Adventure,Drama,Horror',
 'Comedy',
 'Action,Drama,Mystery',
 'Drama',
 'Action,Adventure,Romance',
 'Action,Crime,Drama',
 'Comedy,Drama',
 'Comedy,Romance',
 'Biography,Documentary,Sport',
 'Adventure,Drama,Sport',
 'Animation,Comedy,Family',
 'Action,Horror,Thriller',
 'Adventure,Drama,Fantasy',
 'Drama,Mystery,Sci-Fi',
 'Drama,Romance',
 'Drama,Horror,Mystery',
 'Crime,Horror,Mystery',
 'Biography,Drama',
 'Animation,Horror',
 'Comedy',
 'Drama,Romance,Sci-Fi',
 'Comedy,Romance',
 'Comedy,Crime,Thriller',
 'Action,Adventure,Drama',
 'Comedy,Drama,Musical',
 'Comedy,Drama,Romance',
 'Horror,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Drama,Mystery,Thriller',
 'Comedy,Crime,Drama',
 'Comedy,Drama,Romance',
 'Drama,Romance',
 'Action,Crime,Sci-Fi',
 'Action,Thriller',
 'Adventure,Fantasy',
 'Drama,Fantasy,Music',
 'Biography,Crime,Drama',
 'Drama,Romance,Sci-Fi',
 'Biography,Crime,Drama',
 'Drama',
 'Comedy',
 'Comedy,Drama',
 'Action,Adventure,Fantasy',
 'Adventure,Crime,Drama',
 'Comedy',
 'Action,Thriller',
 'Action,Drama,Mystery',
 'Biography,Comedy,Drama',
 'Drama',
 'Drama,Thriller,War',
 'Horror,Mystery',
 'Horror,Thriller',
 'Action,Comedy,Horror',
 'Drama,Fantasy,Romance',
 'Action,Adventure,Sci-Fi',
 'Drama',
 'Comedy',
 'Action,Comedy,Drama',
 'Adventure,Family,Fantasy',
 'Adventure,Comedy,Drama',
 'Romance,Sci-Fi,Thriller',
 'Action,Comedy,Crime',
 'Action,Comedy,Crime',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Mystery',
 'Drama,Sci-Fi',
 'Comedy,Drama,Family',
 'Crime,Drama,Horror',
 'Action,Adventure,Biography',
 'Adventure,Family,Fantasy',
 'Comedy,Drama,Romance',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Comedy,Family',
 'Crime,Drama,Mystery',
 'Drama,Western',
 'Horror,Thriller',
 'Crime,Drama,Thriller',
 'Action,Thriller',
 'Action,Adventure,Comedy',
 'Biography,Drama,History',
 'Action,Adventure,Sci-Fi',
 'Drama,Mystery',
 'Action,Mystery,Thriller',
 'Adventure,Animation,Comedy',
 'Comedy,Crime,Drama',
 'Action,Fantasy,Horror',
 'Adventure,Drama,Western',
 'Drama,Romance',
 'Comedy,Drama,Romance',
 'Drama',
 'Comedy,Romance,Sport',
 'Action,Adventure,Sci-Fi',
 'Action,Comedy,Crime',
 'Action,Adventure,Comedy',
 'Comedy',
 'Comedy,Romance',
 'Action,Adventure,Sci-Fi',
 'Comedy',
 'Comedy,Mystery',
 'Adventure,Animation,Comedy',
 'Comedy,Drama,Romance',
 'Comedy,Drama,Romance',
 'Action,Drama,History',
 'Drama,Thriller',
 'Action,Adventure,Drama',
 'Comedy,Family,Romance',
 'Comedy,Family,Fantasy',
 'Biography,Crime,Drama',
 'Action,Fantasy,Horror',
 'Drama,History,War',
 'Comedy,Drama',
 'Adventure,Crime,Thriller',
 'Comedy,Drama',
 'Drama,Thriller',
 'Action,Adventure,Sci-Fi',
 'Drama,Family,Music',
 'Action,Fantasy,Horror',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Crime',
 'Biography,Drama,Family',
 'Documentary',
 'Adventure,Animation,Comedy',
 'Drama,Mystery,Thriller',
 'Action,Adventure,Comedy',
 'Romance',
 'Comedy,Drama',
 'Action,Crime,Drama',
 'Action,Horror',
 'Horror,Thriller',
 'Adventure,Animation,Comedy',
 'Drama,Horror,Thriller',
 'Action,Adventure,Drama',
 'Comedy,Horror',
 'Drama,Fantasy,Romance',
 'Action,Adventure,Sci-Fi',
 'Comedy,Drama,Fantasy',
 'Comedy,Drama',
 'Comedy,Drama,Romance',
 'Crime,Drama,Thriller',
 'Drama,Mystery,Thriller',
 'Drama,Horror,Sci-Fi',
 'Comedy,Drama',
 'Biography,Drama,History',
 'Crime,Drama',
 'Action,Adventure,Animation',
 'Adventure,Mystery,Sci-Fi',
 'Drama',
 'Comedy,Romance',
 'Action,Crime,Thriller',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Drama',
 'Drama,Sci-Fi,Thriller',
 'Adventure,Crime,Drama',
 'Horror,Mystery,Thriller',
 'Crime,Drama,Thriller',
 'Action,Crime,Drama',
 'Action,Adventure',
 'Animation,Family',
 'Drama,Mystery,Thriller',
 'Drama,Family',
 'Drama,Mystery,Thriller',
 'Comedy,Drama,Family',
 'Action,Biography,Drama',
 'Comedy,Drama',
 'Action,Comedy,Crime',
 'Drama,Horror,Sci-Fi',
 'Drama',
 'Comedy,Drama',
 'Comedy,Horror',
 'Action,Comedy,Crime',
 'Drama',
 'Action,Comedy,Romance',
 'Drama,Sci-Fi,Thriller',
 'Action,Adventure,Family',
 'Crime,Horror,Mystery',
 'Action,Adventure,Drama',
 'Action,Adventure,Fantasy',
 'Comedy',
 'Comedy,Romance',
 'Action,Comedy,Sci-Fi',
 'Comedy,Horror',
 'Drama,Thriller',
 'Comedy,Drama,Family',
 'Action,Adventure,Sci-Fi',
 'Documentary',
 'Crime,Drama,History',
 'Biography,Drama,Musical',
 'Fantasy,Horror,Mystery',
 'Crime,Mystery,Thriller',
 'Action,Drama,War',
 'Adventure,Animation,Family',
 'Adventure,Animation,Comedy',
 'Comedy,Fantasy',
 'Horror,Thriller',
 'Action,Comedy,Crime',
 'Action,Adventure,Animation',
 'Biography,Crime,Drama',
 'Comedy,Drama',
 'Action,Fantasy,Horror',
 'Crime,Drama,Mystery',
 'Horror',
 'Drama,Romance',
 'Comedy,Crime',
 'Comedy,Fantasy,Horror',
 'Action,Fantasy,Thriller',
 'Horror,Thriller',
 'Action,Adventure,Drama',
 'Comedy,Drama',
 'Action,Drama,Thriller',
 'Drama',
 'Comedy,Drama',
 'Action,Adventure,Romance',
 'Comedy,Drama,Romance',
 'Action,Comedy,Drama',
 'Action,Adventure,Crime',
 'Action,Drama,History',
 'Comedy,Drama,Romance',
 'Drama',
 'Action,Adventure,Drama',
 'Action,Adventure,Comedy',
 'Drama,Western',
 'Horror,Sci-Fi,Thriller',
 'Drama,Thriller',
 'Drama',
 'Comedy',
 'Action,Crime,Drama',
 'Horror,Thriller',
 'Adventure,Comedy',
 'Comedy,Horror,Sci-Fi',
 'Drama,Sci-Fi',
 'Action,Adventure,Drama',
 'Documentary',
 'Crime,Drama,Thriller',
 'Comedy,Drama',
 'Comedy,Drama,Romance',
 'Drama,Music',
 'Drama',
 'Horror,Thriller',
 'Horror,Sci-Fi,Thriller',
 'Action,Drama,Sci-Fi',
 'Biography,Drama,Thriller',
 'Comedy,Drama,Romance',
 'Action,Drama,Thriller',
 'Action,Crime,Drama',
 'Drama,Horror,Sci-Fi',
 'Horror',
 'Drama,Romance',
 'Action,Fantasy,Horror',
 'Horror,Mystery,Thriller',
 'Comedy,Romance,Sport',
 'Comedy,Crime,Thriller',
 'Drama,History',
 'Adventure,Biography,Drama',
 'Drama',
 'Comedy,Horror,Romance',
 'Action,Crime,Drama',
 'Comedy',
 'Action,Crime,Thriller',
 'Drama,Romance,Sci-Fi',
 'Action,Thriller',
 'Biography,Drama,History',
 'Drama,Romance',
 'Action,Drama,Thriller',
 'Drama,Music',
 'Biography,Drama,History',
 'Drama,Fantasy,Romance',
 'Drama',
 'Documentary',
 'Horror',
 'Documentary,History',
 'Drama',
 'Drama,War',
 'Drama,Romance',
 'Comedy,Romance',
 'Drama,Family',
 'Action,Sci-Fi,Thriller',
 'Comedy',
 'Drama,History,War',
 'Action,Adventure,Crime',
 'Comedy,Crime,Drama',
 'Crime,Drama,Mystery',
 'Drama,History,War',
 'Comedy,Drama,Romance',
 'Comedy,Drama,Romance',
 'Biography,Drama,Romance',
 'Action,Adventure,Fantasy',
 'Comedy,Drama,Romance',
 'Drama',
 'Horror,Thriller',
 'Comedy',
 'Action,Thriller',
 'Comedy,Drama',
 'Drama,Horror,Thriller',
 'Comedy,Drama,Romance',
 'Action,Adventure,Sci-Fi',
 'Comedy,Crime,Romance',
 'Comedy,Drama,Romance',
 'Action,Biography,Crime',
 'Action,Adventure,Family',
 'Comedy,Horror,Romance',
 'Comedy,Drama',
 'Drama,Family,Sport',
 'Action,Mystery,Thriller',
 'Horror,Mystery,Thriller',
 'Action,Adventure,Drama',
 'Action,Sci-Fi,Thriller',
 'Comedy,Drama,Romance',
 'Drama,Horror,Mystery',
 'Adventure,Animation,Comedy',
 'Action,Crime,Thriller',
 'Biography,Drama,Family',
 'Action,Comedy,Romance',
 'Biography,Comedy,Drama',
 'Drama,Fantasy,Horror',
 'Drama,Horror,Mystery',
 'Action,Drama,Thriller',
 'Action,Comedy,Crime',
 'Action,Adventure,Crime',
 'Action,Mystery,Thriller',
 'Crime,Drama',
 'Action,Adventure,Drama',
 'Drama,Romance',
 'Crime,Drama',
 'Drama,Romance',
 'Horror,Thriller',
 'Drama',
 'Comedy,Drama,Family',
 'Crime,Thriller',
 'Comedy',
 'Comedy,Fantasy,Romance',
 'Action,Thriller',
 'Drama,Romance',
 'Drama,Family,History',
 'Documentary,Sport',
 'Comedy',
 'Drama,Horror,Mystery',
 'Action,Fantasy,Horror',
 'Drama,Romance',
 'Action,Horror',
 'Comedy,Fantasy,Horror',
 'Action,Crime,Thriller',
 'Crime,Drama,Thriller',
 'Drama,Thriller',
 'Action,Thriller',
 'Adventure,Animation,Comedy',
 'Comedy,Drama',
 'Biography,Crime,Drama',
 'Drama,Romance,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Crime,Drama',
 'Action,Adventure,Fantasy',
 'Biography,Drama,History',
 'Adventure,Animation,Comedy',
 'Adventure,Family,Fantasy',
 'Biography,Drama,Sport',
 'Adventure,Animation,Comedy',
 'Comedy,Romance',
 'Action,Comedy,Crime',
 'Horror',
 'Action,Horror,Sci-Fi',
 'Adventure,Family,Fantasy',
 'Adventure,Animation,Comedy',
 'Comedy,Drama',
 'Drama,Thriller',
 'Action,Adventure,Sci-Fi',
 'Horror,Sci-Fi',
 'Action,Adventure,Western',
 'Biography,Drama,Sport',
 'Drama',
 'Drama,Thriller',
 'Mystery,Sci-Fi,Thriller',
 'Action,Sci-Fi',
 'Comedy,Romance',
 'Horror,Thriller',
 'Documentary',
 'Adventure,Animation,Family',
 'Action,Adventure,Comedy',
 'Comedy',
 'Drama',
 'Action,Crime,Drama',
 'Comedy,Drama',
 'Comedy,Fantasy',
 'Drama,Thriller',
 'Comedy,Drama',
 'Drama',
 'Action,Comedy,Horror',
 'Comedy,Drama',
 'Crime,Drama',
 'Comedy,Romance',
 'Drama,Family',
 'Thriller',
 'Action,Crime,Thriller',
 'Drama,Romance',
 'Crime,Documentary',
 'Comedy',
 'Drama,Mystery,Thriller',
 'Action,Drama,Thriller',
 'Action,Adventure,Animation',
 'Comedy,Drama,Romance',
 'Action,Adventure,Fantasy',
 'Biography,Drama,Sport',
 'Action,Comedy,Sport',
 'Action,Adventure,Fantasy',
 'Drama,History,Thriller',
 'Comedy,Family',
 'Mystery,Sci-Fi,Thriller',
 'Action,Comedy,Crime',
 'Comedy,Drama',
 'Drama,Fantasy,Mystery',
 'Biography,Drama',
 'Drama,Fantasy,Romance',
 'Comedy,Drama,Romance',
 'Comedy,Romance',
 'Action,Crime,Thriller',
 'Action,Crime,Thriller',
 'Drama,Romance',
 'Action,Drama,Thriller',
 'Biography,Drama,Romance',
 'Crime,Drama,Horror',
 'Drama',
 'Drama,Family,Fantasy',
 'Comedy,Drama,Sport',
 'Crime,Drama',
 'Adventure,Comedy',
 'Action,Adventure,Biography',
 'Comedy,Crime',
 'Comedy,Drama,Family',
 'Action,Adventure,Sci-Fi',
 'Crime,Drama,Thriller',
 'Biography,Drama,Music',
 'Comedy',
 'Drama,Thriller',
 'Comedy,Romance,Sci-Fi',
 'Comedy,Drama,Romance',
 'Crime,Drama,Thriller',
 'Adventure,Comedy,Drama',
 'Adventure,Animation,Comedy',
 'Drama,War',
 'Crime,Mystery,Thriller',
 'Biography,Comedy,Drama',
 'Comedy',
 'Crime,Drama,Thriller',
 'Drama,Horror,Thriller',
 'Action,Adventure,Sci-Fi',
 'Comedy,Drama,Romance',
 'Action,Animation,Fantasy',
 'Adventure,Animation,Comedy',
 'Action,Romance,Thriller',
 'Comedy,Drama,Romance',
 'Drama,Thriller',
 'Documentary',
 'Drama',
 'Horror',
 'Action,Drama',
 'Horror,Thriller',
 'Adventure,Animation,Comedy',
 'Drama,Fantasy,Mystery',
 'Comedy',
 'Comedy,Drama',
 'Animation,Family,Fantasy',
 'Comedy',
 'Comedy,Drama',
 'Action,Adventure,Drama',
 'Drama',
 'Comedy',
 'Comedy,Family',
 'Comedy,Drama,Romance',
 'Drama,Thriller',
 'Comedy,Romance',
 'Adventure,Drama,Fantasy',
 'Adventure,Animation,Comedy',
 'Comedy,Horror,Mystery',
 'Comedy,Western',
 'Drama,Romance,Thriller',
 'Documentary,Music',
 'Horror',
 'Biography,Drama',
 'Biography,Comedy,Crime',
 'Adventure,Animation,Drama',
 'Drama,Sci-Fi,Thriller',
 'Action,Drama,Sci-Fi',
 'Drama,Horror',

In [45]:
import matplotlib.pyplot as plt
%matplotlib inline

master_table.success_score.describe()

count    2521.000000
mean        1.184022
std        18.336577
min      -711.082226
25%        -0.068224
50%         0.213112
75%         2.083921
max       341.398603
Name: success_score, dtype: float64